div(class='cart-content text-dark bg-white w-25')
    p(class='text ps-2') #[b] В корзине 2 товара
        div(class='row d-flex justify-content-center align-items-center px-3')
            div(class='col-5')
                img(src='/public/images/bikes/bike1.png' alt='bike in a cart' class='w-100')
            div(class='col-4')
                p(class='text') #[b] STREETSTER NATHAN #[br] 6000 ₴
                hr
        div(class='row d-flex justify-content-center align-items-center px-3')
            div(class='col-5')
                img(src='/public/images/accessories/product2.png' alt='bike in a cart' class='w-100')
            div(class='col-4')
                p(class='text') #[b] STREETSTER NATHAN #[br] 6000 ₴
                hr
    p(class='text px-2') #[b Итого:] 12000 ₴
    a(class='btn btn-second rounded-0 w-100' id='btn-order' href="/cartCheckout") ЗАКАЗАТЬ