include head.pug
include header-dark.pug
main(class='categories-page')
    section(class='d-flex flex-wrap categories_cards row justify-content-center g-0')
        include category_card.pug
include footer.pug
include scripts.pug