header(class='text-white header')
    div(class='container')
        div(class='row align-items-center')
            div(class='col-sm-12 col-md-3 mb-2')
                a(href='/')
                    img(src='/public/images/logos/logo%201.png' alt='streetster logo')
            div(class='col-sm-12 col-md-9')
                div(class='row justify-content-around align-items-center')
                    div(class='col-2 col-md-6 search p-0 mb-2')
                        form(class='search-form w-100')
                            img(src='/public/images/icons/search.png' alt='magnifying glass' class='search-form__icon')
                            input(type='text' class='search-form__input w-100')
                        ul(class='search_results')
                    div(class='col-7 col-md-2 d-flex justify-content-around align-items-center mb-2' id='wrapper')
                        img(src='/public/images/icons/cart.png' alt='cart' id='cart-icon')
                        div(class='menu-icon')
                            hr(class='menu-icon__line')
                            hr(class='menu-icon__line')
                            hr(class='menu-icon__line')
include cart.pug
include menu.pug