div(class='menu text-dark bg-white')
    div(class='row py-3')
        div(class='col-5 d-flex')
            a(href='#') RU
            span /
            a(href='#') EN
        div(class='col-3')
            img(src='/public/images/icons/cart2.png' id='menu-cart' alt='cart icon')
        div(class='col-3')
            button(class='btn-close' aria-label='Close')
    div(class='row d-flex flex-column')
         nav
            ul
                li(class='my-2')
                    a(href='#road-series' class='subtitle menu-elem_underline fw-bold') ROAD SERIES
                li(class='my-2')
                    a(href='#street-series' class='subtitle menu-elem_underline fw-bold') STREET SERIES
                li(class='my-2')
                    a(href='#mountain-series' class='subtitle menu-elem_underline fw-bold') MOUNTAIN SERIES
                li(class='my-2')
                    a(href='#' class='menu-elem_underline') Новости
                li(class='my-2')
                    a(href='#about' class='menu-elem_underline') О нас
                li(class='my-2')
                    a(href='#' class='menu-elem_underline') Контакты
    a(href='https://www.instagram.com')
        img(src='/public/images/icons/insta-b.png' alt='instagram' class='pb-4 social-i')
    a(href='https://www.facebook.com/')
        img(src="/public/images/icons/f-b.png" alt='facebook' class='pb-4 social-i')
