include mixins.pug
div(class='menu text-dark bg-white')
    div(class='row py-3')
        div(class='col-5 d-flex')
            a(href='#') RU
            span /
            a(href='#') EN
        div(class='col-3')
            img(src='/public/images/icons/cart2.png' id='menu-cart' alt='cart icon')
        div(class='col-3')
            button(class='btn-close' aria-label='Close')
    div(class='row d-flex flex-column')
         nav
            ul(class='categories-list')
                li
                    a( href='/category/1' class='smaller-title') #[b ROAD SERIES]
                li
                    a(href='/category/2' class='smaller-title') #[b STREET SERIES]
                li
                    a(href='/category/3' class='smaller-title') #[b MOUNTAIN SERIES]
            ul
                li(class='my-2')
                    a(href='/news' class='menu-elem_underline') News
                li(class='my-2')
                    a(href='#about' class='menu-elem_underline') About us
                li(class='my-2')
                    a(href='#about' class='menu-elem_underline') Contacts
    a(href='https://www.instagram.com')
        img(src='/public/images/icons/insta-b.png' alt='instagram' class='pb-4 social-i')
    a(href='https://www.facebook.com/')
        img(src="/public/images/icons/f-b.png" alt='facebook' class='pb-4 social-i')
