include head.pug
include header-dark.pug
main(class='mt-5')
    div(class='container')
        div(class='row')
            h1(class='title my-5 d-flex justify-content-center') Оформление заказа
            div(class='col-sm-12 col-md-6 p-4')
                div(class='row' id='cart2')
                div(  class='row p-4 text-center')
                    div( class='col-sm-12 col-md-6')
                        button( class='btn-black mt-3 rounded-0' onclick='window.location.href = \'/#categories\';') ПРОДОЛЖИТЬ ПОКУПКИ
            form(class='col-sm-12 col-md-6' name='form')
                div(class='row p-4')
                    h3(class='smaller-title mt-4') Контактная информация
                    div(class='row mb-4')
                        div(class='col-md-6 mt-3')
                            label(for='firstname' class='w-100') Name
                                input(id='firstname'  name='firstname' type='text' class='w-100' pattern='[A-Za-zА-Яа-яЁё]{1,}' placeholder='John' required='required')
                            label(for='phone' class='w-100') Phone
                                input(id='phone' name='phone' type='tel' class='w-100' pattern='[0-9]{3}-[0-9]{3}-[0-9]{3}' placeholder='123-456-789' required='required')
                        div(class='col-md-6 mt-3')
                            label(for='lastname' class='w-100') Lastname
                                input(id='lastname' name='lastname' type='text' class='w-100' pattern='[A-Za-zА-Яа-яЁё]{1,}' placeholder='Doe' required='required')
                            label(for='email' class='w-100') Email
                                input(id='email' name='email' type='email' class='w-100' pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$' placeholder='yourE-mail@gmail.com' required='required')
                div(class='row p-4 justify-content-center')
                    h3(class='smaller-title') Оплата и доставка
                    div(class='row')
                        div(class='col-md-6 mt-3')
                            label(for='payment' class='w-100') Способ оплаты
                                select( id='payment' name='payment' class='w-100' required='required' )
                                    option(selected)
                                    option(value='оплата наличными') оплата наличными
                                    option(value='электронные платежные системы') электронные платежные системы
                            label(for='city' class='w-100') Город
                                input( id='city' name='city' type='text' class='w-100' pattern='[A-Za-zА-Яа-яЁё]{1,}' placeholder='Tucson' required='required')
                        div(class='col-md-6 mt-3')
                            label(for='delivery' class='w-100') Способ получения
                                select(id='delivery' name='delivery' class='w-100' required='required')
                                    option(selected)
                                    option(value='курьерская доставка') Курьерская доставка
                            label(for='address' class='w-100') Адрес доставки
                                input( id='address' name='address' type='text' class='w-100' pattern='[A-Za-zА-Яа-яЁё]{10,}' placeholder='Street, house number' required='required')
                    input(type='submit' value='ОФОРМИТЬ ЗАКАЗ' class='btn-black rounded- mt-4 p-0' id='orderBtn')
include scripts.pug
