include head.pug
include header-dark.pug
main(class='mt-5')
    div(class='container')
        div(class='row')
            h1(class='title my-5 d-flex justify-content-center') Оформление заказа
            div(class='col-md-6 p-4' id='cart2')
            div(class='col-md-6')
                div( class='row p-4')
                    h3(class='smaller-title') Контактная информация
                    form(class='row mb-4')
                        div(class='col-md-6 mt-3')
                            label(for='firstname' class='w-100') Name
                                input(id='firstname' type='text' class='border border-2 border-dark w-100')
                            label(for='phone-number' class='w-100') Phone
                                input(id='phone-number' type='tel' class='border border-2 border-dark w-100')
                        div(class='col-md-6 mt-3')
                            label(for='lastname' class='w-100') Lastname
                                input(id='lastname' type='text' class='border border-2 border-dark w-100')
                            label(for='email' class='w-100') Email
                                input(id='email' type='email' class='border border-2 border-dark w-100')
                div(class='row p-4')
                    h3(class='smaller-title') Оплата и доставка
                    form(class='row')
                        div(class='col-md-6 mt-3')
                            label(for='pay' class='w-100') Способ оплаты
                                select( id='pay' class='border border-2 border-dark w-100')
                                    option(selected)
                                    option(value='1') One
                                    option(value='2') Two
                                    option(value='3') Three
                            label(for='city' class='w-100') Город
                                input( id='city' type='text' class='border border-2 border-dark  w-100')
                        div(class='col-md-6 mt-3')
                            label(for='get' class='w-100') Способ получения
                                select(id='get' class='border border-2 border-dark w-100')
                                    option(selected)
                                    option(value='1') One
                                    option(value='2') Two
                                    option(value='3') Three
                            label(for='adress' class='w-100') Адрес доставки
                                input( id='adress' type='text' class='border border-2 border-dark  w-100')
include scripts.pug
