#cart{
  margin-right: 10%;
  width: 30%;
  @media screen and (width: 768px){
    width: 35%;
  }
  @media screen and (max-width: 700px){
    width: 95%;
    margin-right: 0;
  }
}
  .showAnim {
    display: block;
    transform: scale(1);
    opacity: 1;
    animation: anim .3s ease-in-out;
  }
  @keyframes anim {
    0% {
      display: none;
      opacity: 0;
    }
    5% {
      display: block;
      opacity: 0;
      transform: scale(0);
    }
    15% {
      display: block;
      opacity: 0.5;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
.goods-count{
  color: @red-color;
  font-weight: bold;
  margin-left: 15%;
}

.sum-goods-prices{
  margin-left: 55%;
  @media screen and (max-width: 770px) {
    margin: 0;
  }
}
