.footer{
    padding: 5%;
    @media screen and (max-width: 770px){
      text-align: center;
    }
  }
.footer-link{
    color: @white-color;
    &:hover, &:focus{
      color: @white-color;
      border-bottom: 1px solid @white-color;
    }
  }