.footer{
    padding: 5%;
    @media screen and (max-width: 770px){
      text-align: center;
    }
  }
  .footer a{
    color: @second-color;
    &:hover, &:focus{
      color: @second-color;
      font-size: @text-size * 1.3;
    }
  }