*{
    margin: 0;
    padding: 0;
  }
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Medium.eot');
  src: local('../fonts/Futura PT Medium'), local('FuturaPT-Medium'),
  url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
  url('../fonts/FuturaPT-Medium.woff') format('woff'),
  url('../fonts/FuturaPT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
.title{
  font-size: @h1-font-size;
  font-weight: 900;
  @media(max-width: 770px){
    font-size: calc(@h1-font-size / 2);
  }
}
.small-title{
  font-size: @h2-font-size;
  font-weight: 700;
  @media(max-width: 770px){
    font-size: calc(@h2-font-size / 1.4);
  }
}
.smaller-title{
  font-size: @h3-font-size;
  font-weight: 600;
}
.text {
  font-size: @p-font-size;
}
.large-text{
  font-size: @p-large-font-size;
}

.bg-black{
  background-color: @black-color;
}
input{
    padding-left: 2%;
    &:focus{
      outline: none;
      box-shadow: none;
    }
}
ul, ol{
  padding-left: 0;
}
li {
  list-style-type: none;
}
a{
  text-decoration: none;
   &:hover{
     color: @black-color;
   }
}
section{
   margin-top: 10%;
   margin-bottom: 10%;
}

hr:not([size]){
  height: 2px;
}
hr{
  opacity: 1;
}

.social-i{
    margin-right: 5%;
    &:hover{
      transform: scale(1.2);
    }
}
.menu, #cart{
  display: none;
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 3;
  -webkit-box-shadow: 21px 26px 12px -8px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 21px 26px 12px -8px rgba(34, 60, 80, 0.2);
  box-shadow: 21px 26px 12px -8px rgba(34, 60, 80, 0.2);
  &-elem_underline:hover{
    text-decoration: underline;
  }
}

.btn-black, .btn-white{
  text-align: center;
}
.btn-black{
  .btn(@black-color, @white-color, @white-color, @black-color);
}
.btn-white{
  .btn(@white-color, @black-color, @black-color, @white-color);
}

.btn-close:focus, .btn-close:active{
  box-shadow: none;
}

.available-colors__elem{
  padding: 3%;
  margin-left: 5%;
  border: 4px double @white-color;
  width: 10%;
}
