.menu-icon{
    width: 15%;
    margin-left: 15%;
    &__line{
      margin: 23%;
      width: 100%;
      opacity: 100%;
      &-black{
        border-top: 2px solid @main-color;
      }
    }
    @media screen and (max-width: 570px){
      &{
        width: 5%;
        margin-left: 5%;
      }
    }
  }

.menu a{
    color: @main-color;
}