.centered-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn(@bg-color, @color, @hover-bg-color, @hover-color){
  color: @color;
  background-color: @bg-color;
  border: 2px solid @black-color;
  padding: 1% 4%;
  &:hover{
    background-color: @hover-bg-color;
    color: @hover-color;
  }
}