.centered-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn(@bg-color, @color, @hover-bg-color, @hover-color, @focus-color){
  color: @color;
  cursor: pointer;
  font-weight: bold;
  background-color: @bg-color;
  padding: 1% 4%;
  &:hover{
    background-color: @hover-bg-color;
    color: @hover-color;
  }
  &:focus{
    outline: 0;
    box-shadow: 0 0 0 .20rem @focus-color;
  }
}